{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'decisions/style.css' %}" />
    <title>{% block title %}The Game of RISC{% endblock %}</title>
</head>

<body>

    <div class="title_container">
        <div class="row">
            <div class="col-lg-2">
                <img class="img-responsive img-rounded" src="{% static 'decisions/game_of_risc.png'%}" alt="game_of_risc">
            </div>
            <div class="col-lg-6">
                <h1>The Game of <strong>R</strong>eviewing <strong>I</strong>ndustrial <strong>S</strong>ecurity <strong>C</strong>learances</h1>
            </div> 
            <div class="col-lg-4">        
                <div class="well well-lg">
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.username }}. <a href="/decisions/logout">Log out</a></p>
                    {% else %}
                        <p>Welcome, new user. Please <a href="/decisions/login">log in</a> or <a href="/decisions/register">create a new account</a> to begin reviewing applications.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <hr>


    <a href='/decisions'>{% bootstrap_button 'Home' size='lg' %}</a>
    {% bootstrap_button 'High scores' size='lg' %}
    <a href='/decisions/random'>{% bootstrap_button 'Random Case' size='lg' %}</a>

    <hr>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div> 


</body>
</html>
