{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'decisions/style.css' %}" />
    <title>{% block title %}The Game of RISC{% endblock %}</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <h1>The Game of <strong>R</strong>eviewing <strong>I</strong>ndustrial <strong>S</strong>ecurity <strong>C</strong>learances</h1>
                <hr>
            </div> 
            <div class="col-lg-4">        
                <div class="well well-lg">
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.username }} <a href="/decisions/logout/">Log out</a></p>
                    {% else %}
                        <p>Welcome, new user. Please <a href="/decisions/login/">log in</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <a href='/decisions'>{% bootstrap_button 'Home' size='lg' %}</a>
    {% bootstrap_button 'High scores' size='lg' %}
    <a href='/decisions/random'>{% bootstrap_button 'Random Case' size='lg' %}</a>

    <hr>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div> 

</body>
</html>
