{% extends 'decisions/base.html' %}

{% block content %}

    <h4>{{ adjudication.digest  }}</h4>
    <hr>

    <h1>Make Decision</h1>
    <form method="POST" class="decision-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <hr>

    {% if correct_response == 1%}
        <h1>You entered the correct response!!</h1>
    {% elif correct_response == 0%}
        <h1>You entered the wrong response :(</h1>
    {% endif %}
{% endblock %}



