{% extends 'decisions/base.html' %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}

    {% if high_scorers %}
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Correct Guesses</th>
                        <th>Total Guesses</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in high_scorers %}
                        <tr>
                            <td>{{ i.3 }}</td>
                            <td>{{ i.0 }}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.2 }}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    
{% endblock %}