{% extends 'decisions/base.html' %}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}

    {% if high_scorers %}
        <ol>
        {% for userprofile in high_scorers %}
                    <li>
                        <h4>{{ userprofile.user }} Correct Guesses: {{ userprofile.num_correct_guesses}} Guesses: {{ userprofile.num_guesses }}
                        </h4>
                    </li>
                <hr>
        {% endfor %}
        </ol>
    {% endif %}
    
{% endblock %}